* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
}
.margin {
    margin-top: 10px;
}

.box-tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-tables__table {
    width: 1600px;
    border-collapse: collapse;
    text-align: center;
}
.box-tables__head {
    border: 1px solid #ccd6ff;
    overflow-wrap: break-word;
    white-space: normal;
    width: auto;
    height: 40px;
    background: #162aac;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    padding: 17px;
    letter-spacing: -0.06em;
    color: #fff;
}
.worth {
    color: #f47908;
}
.box-tab__rows {
    position: relative;
    border: 1px solid #ccd6ff;
    min-width: 100px;
    padding: 15px;
    width: auto;
    overflow-wrap: break-word;
    white-space: normal;
    height: 40px;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.06em;
    word-wrap: break-word;
    color: #555;
}
.call-date {
    font-weight: bold;
    font-size: 14px;
}

.call-time {
    color: gray;
    font-size: 12px;
}
.avg-result {
    font-weight: bold;
    transition: all 0.3s;
}
.avg-result-red {
    margin-left: 10px;
    color: red;
    text-shadow: 3px 3px 3px #ffffff;
}

.avg-result-orange {
    margin-left: 10px;
    color: #ffa201;
    text-shadow: 3px 3px 3px #471616;
}

.avg-result-green {
    margin-left: 10px;
    color: #00ff00;
    text-shadow: 3px 3px 3px #000000;
}
.box-tables__rows_btn {
    position: relative;
    background-color: #F5F5F5;
    border: none;
    width: 30px;
    padding-left: 17px;
}

.td {
    border: 1px solid #ccd6ff;
    width: 1377px;
    height: 40px;
    background: #fdfdff;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.06em;
    text-align: left;
    padding: 12px;
    color: #555;
}

.company {
    position: relative;
    color: #176add;
    width: 1599px;
    height: 40px;
    display: flex;
    border: 1px solid #ccd6ff;
    align-items: center;
    justify-content: center;
    background-color:  rgba(22, 30, 172, 0.62);
}
.company__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -0.06em;
    color: #fff;
}
.dropdown-content_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.dropdown-content_min {
    display: flex;
    flex-direction: row;
    width: 210px;
    gap: 20px;
}
.dropdown-content_min label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #474747;
    width: 110px;
    align-items: center;
}
.sort__details_buttons {
    display: flex;
    gap: 30px;
    color: #555;
}
.sort__details_buttons_bnt {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background-color: #d9d9d9;
    cursor: pointer;
    flex: 1 1;
    font-size: 12px;
    font-weight: 500;
    height: 37px;
    padding: 5px;
    transition: background-color .3s ease;
    width: 80px;
    color: #474747;
}
.sort__details_buttons_bnt:hover {
    background-color: #687abf;
    color: #ffffff;
    font-size: 14px;
}
.sort__details_buttons_bnt_red:hover {
    background-color: #e36f6f;
    color: #ffffff;
}

.zaebisy {
    position: absolute;
    top: 1px;
    right: 1px;
}

.customTool {
    position: relative;
    right: 0;
    top: 0;
    display: inline-block;
}


.note {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tooltipText {
    background-color: #eaeaea;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    color: #474747;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;
    visibility: visible;
    width: 120px;
    z-index: 10000;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.tooltipText:hover {
    opacity: 1;
    visibility: visible;
}

.tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.sort-button {
    display: inline-block;
    width: 220px;
    text-align: center;
}

.sort-button_summary {
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #555555;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.sort-button_summary:hover {
    background-color: #162AAC;
    color: white;
}


.buttons {
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.buttons button {
    flex: 1;
    padding: 4px 3px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    font-size: 12px;
    background-color: #D9D9D9;
    color: #555555;
    font-weight: 500;
    cursor: pointer;
    width: 68px;
    height: 24px;
    transition: background-color 0.3s ease;
}

.buttons button[type="submit"] {
    background-color: #D9D9D9;
    color: #555555;
}

.buttons button[type="submit"]:hover {
    background-color: #162AAC;
    color: white;
}

.buttons button[type="reset"] {
    background-color: #D9D9D9;
    color: #555555;
}

.buttons button[type="reset"]:hover {
    background-color: #c82333;
    color: white;
}