* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
}

.box-tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
summary::-webkit-details-marker {
    display: none;
}

.box-tables__table {
    width: 1600px;
    border-collapse: collapse;
    text-align: center;
}
.box-tables__head {
    border: 1px solid #ccd6ff;
    width: auto;
    height: 40px;
    background: #162aac;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    padding: 17px;
    letter-spacing: -0.06em;
    color: #fff;
}
.box-tables__rows {
    border: 1px solid #ccd6ff;
    width: auto;
    white-space: nowrap;
    height: 40px;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.06em;
    color: #555;
    position: relative;

}
.box-tables__rows_btn {
    position: relative;
    background-color: #F5F5F5;
    border: none;
    width: 30px;
    padding-left: 17px;
}
.box-tables__rows_every {
    background: #dee6ff;
    width: auto;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.06em;
    color: #555;
    max-width: 500px;
    word-wrap: break-word;
}
.box-tables__rows_every1 {
    text-align: left;
    padding-left: 17px;
}
.box-tables__rows_every1_flex {
    text-align: left;
    padding-left: 17px;
}
.box-tables__rows_modify {
    background: #fff;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}
.box-tables__rows_modify:hover {
    background: #b7b7b7;
}
.box-tables__rows_modify:hover svg path {
    fill: #fff;
}
.tableNone {
    border: 1px solid #ccd6ff;
    width: 1377px;
    height: 40px;
    background: #fdfdff;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.06em;
    text-align: left;
    padding: 12px;
    color: #555;
}
.add_box {
    display: flex;
    justify-content: center;
}
.add_button {
    margin-top: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 6px 30px;
    border-radius: 3px;
    width: 212px;
    height: 32px;
    background: #eaeaea;
    border: 1px solid #c1c1c1;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #636363;
}
.add_button:hover {
    cursor: pointer;
    background: #162aac;
    color: #fff;
}
.add_button:hover svg path {
    fill: #fff;
}

.every:hover:not(:has(.box-tables__rows_btn:hover)) {
    background-color: #DEE6FF;
}

.company {
    position: relative;
    color: #176add;
    margin-top: 18px;
    width: 1557px;
    height: 40px;
    display: flex;
    border: 1px solid #ccd6ff;
    align-items: center;
    justify-content: center;
    background-color:  rgba(22, 30, 172, 0.62);
}
.company__name {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -0.06em;
    color: #fff;
}
.box-tables_sorting {
    display: flex;
    width: 1600px;
    height: 50px;
    margin-bottom: 20px;
}
.box-tables_sorting.with-margin {
    margin-top: 30px;
}


.position {
    position: relative;
}

.box-tables_sorting_position {
    display: flex;
}
.dropdown-content_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.customTooltip {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    display: inline-block;
}

.noteInfo {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltipText {
    background-color: #eaeaea;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    color: #474747;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 120px;
    z-index: 1;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.customTooltip:hover .tooltipText {
    opacity: 1;
    visibility: visible;
}

.customTooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
table {
    border-collapse: collapse !important;
}
.dropdown-content {
    padding: 15px;
}

.dropdown-content label {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.dropdown-content input {
    width: 100%;
    padding: 8px;
    color: #5750b9;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.dropdown-content input:focus {
    border-color: #007bff;
    outline: none;
}
.custom-dropdown {
    display: flex;
    position: relative;
}
.sort__details_box {
    display: flex;
    flex-direction: column;
}
.dropdown-content_min {
    display: flex;
    flex-direction: row;
    width: 210px;
    gap: 20px;
}
.dropdown-content_min label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #474747;
    width: 110px;
    align-items: center;
}

.dropdown-content_input {
    display: flex;
    flex-direction: column;
    width: auto;
}
.dropdown-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-button:hover {
    background-color: #0056b3;
}

/* Стили для выпадающего списка */
.dropdown-content {
    padding: 10px;
    position: absolute;

}

/* Стили для элементов списка */
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Стили для чекбоксов */
.dropdown-item input {
    margin-right: 10px;
    cursor: pointer;
}

.dropdown-content {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.custom-dropdown_select {
    width: 138px;
    background: #f5f5f5;
    border: none;
    display: flex;
    text-align: center;
    font-size: 12px;
}
.custom-dropdown_select option {
    background-color: #f5f5f5;
    color: #333;
    font-size: 12px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.custom-dropdown_select option:hover {
    background: #FF3B00;
    color: #fff;
}

.custom-dropdown_select option:checked {
    background: #f5f5f5;
    color: #333;
}

.sort__details {
    position: relative;
}
.sort__details_summary {
    display: flex;
    align-items: center;
    width: 160px;
    background: #d9d9d9;
    height: 37px;
    justify-content: center;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.sort__details_summary:hover {
    border: 2px solid #f1eeee;
    color: #ec5a39;
}
.sort__details_check {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    width: 160px;
    background: #eaeaea;
    flex-direction: column;
    z-index: 10;
    padding: 10px;
}

.sort__details_heading {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    position: relative;
}
.sort__details_buttons {
    display: flex;
    gap: 30px;
    color: #555;
}
.sort__details_buttons_bnt {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background-color: #d9d9d9;
    cursor: pointer;
    flex: 1 1;
    font-size: 12px;
    font-weight: 500;
    height: 37px;
    padding: 5px;
    transition: background-color .3s ease;
    width: 80px;
    color: #474747;
}
.sort__details_buttons_bnt:hover {
    background-color: #687abf;
    color: #ffffff;
    font-size: 14px;
}
.sort__details_buttons_bnt_red:hover {
    background-color: #e36f6f;
    color: #ffffff;
}


