* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.start {
 position: relative;
}
.start__head {
    width: 100%;
    margin-bottom: 4px;
}
.start__body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #FCF2E5;
    display: flex;
    justify-content: center;
}
.start__body_table {
    margin-top: 109px;
}